
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.intro {
   margin: auto;
}
.intro_container{
    padding: 100px;
    height: 700px;
    max-width: 100%;
    max-height: 100%;
    background: url(/assets/clouds\ 2.png);
    /* background: #06B6FF; */
    display: flex;
    align-items: flex-end;
}
.intro_info{
    display: flex;
    flex-direction: column;
}
.intro_info h1{
    font-size: 4em;
    color: #9c3aa9;
    font-style: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 2rem;
}
.intro_info p{
    font-weight: 10;
    font-size: 20px;
    color: #9c3aa9;
    font-family: 'Courier New', Courier, monospace;

    margin-bottom:2rem;
}
.intro_info button{
    font-family: 'Courier New', Courier, monospace;

    border-radius: 10px;
    height: 60px;
    width: 20%;
    background-color: #52C3EB;
}
.intro_img{
    display: flex;
    align-items: flex-end;
    width: 1800px;
}
.intro_img img{
    width: 100%;
}

/* features */
.features{
    margin-top: 5rem;
}

.f_title, .p_title, .w_title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.f_text, .p_text, .w_text{
    margin-bottom: 20px;
    color: #9c3aa9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

.f_title h1,.p_title h1, .w_title h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

hr {
    width: 80%;
    margin: 30px 0;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: visible;
}       
hr:after {
    content: "";
    border: 2px solid #337AB7;
    position: absolute;
    width: 20%;
    top: -2px;
    animation: anim-hr 5s linear infinite; 
}
@keyframes anim-hr {
    0% {
        left: -10%;
    }
    100% {
        left: 90%;
    }
}

.d38 {
    width: 2.5em; 
    height: 2.5em; 
    margin: 2em 4.5em 4em;
    border-radius: 100% 0;
    background: #32336B;
    box-shadow: -3em 3em #32336B;
    position: relative;
    margin-bottom: 5em;

    }
    .d38:before, 
    .d38:after {
    content: "";
    width: 2.5em; 
    height: 2.5em; 
    margin: 1em 3em;
    border-radius: 0 100%;
    background: wheat;
    position: absolute; 
    left: -6em; 
    top: -1em;
    box-shadow: 3em 3em #32336B;
    transform-origin: 2.75em 2.75em;
    }
    .d38:before {
    transform: rotate(-30deg);
    }
    .d38:after {
    transform: rotate(30deg);
    }

 

.f_cards{
    display: flex;
    justify-content: space-evenly;
}
.f_card{
    display: flex;
    padding: 30px;
    width: 400px;
    height: 360px;
    border: 2px;
    border-radius: 10px;
    border: 2px solid seashell;
    box-shadow: 0px 0px 3px 0px;
}
.f_card_text h2{
    font-family: 'Courier New', Courier, monospace;
} 
.f_card_text p {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #212529;
}
.f_card:hover{
    background-color: #df7bec;
    opacity: 0.9;
    transition: 2s;
}

/* about */
.about_container{
    margin-top: 7em;
    display: flex;
    justify-content: space-between  ;
}
.about_imgs{
    width: 50%;
}
.about_info{
    width: 50%;
    padding: 40px;
}
.about_title{
    color: #9c3aa9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    margin-bottom: 15px;

}
.about_info h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.about_info p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
} 
.about_info p:nth-child(4){
    margin-top: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}
.about_imgs img{
    width: 100%;
}
.about_imgs img:nth-child(2){
    position: absolute;
    width: 200px;
    opacity: 0.4;
}
.contact_to_us button{
    margin-top: 1em;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    width: 400px;
    background-color: #52C3EB;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.trust{
    height: 600px;
}
.trust_container{
    display: flex;
    align-items: center;
    background: #70c4e6;
	clip-path: polygon(0% 15%, 100% 0%, 100% 1000%, 0 100%);
}
.trust_info{
    margin-top: 30px;
    color: #9c3aa9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

.trust_cards{
    padding-top: 50px;
    padding-bottom: 3em;

}
.promo_container{
    /* background: #0b3241; */
    background: #70c4e6;

    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5em;
    padding-bottom: 10em;

}
.promo_el{
    width: 300px;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;

}
.promo_el_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo_el_info h2{
    /* color:#52C3EB; */
    color:#9c3aa9;

    font-size: 5em;
    font-style:oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.promo_el_info p{
    margin-left: 1rem;
    color:#9c3aa9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.2em;
}
.p_card{
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid seashell;
    box-shadow: 0px 0px 3px 0px;

}
.p_card_img{
    border-radius: 10px;
    
}
.p_card_img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}
.p_card_info{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}
.p_card_info p{
    margin-top:5px;
}

.p_cards{
    display: flex;
    justify-content: space-evenly;
}
.p_all{display: flex; justify-content: center;}
.p_all button{
    margin-top: 1em;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    width: 24   0px;
    background-color: #52C3EB;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.why_us{
    margin-top:40px;
}
.w_container{
    background-color: #52C3EB;
    height: 600px;
}
.w_text{
    margin-top:100px;
    
}
.w_cards{
    display: flex;
    justify-content: space-evenly;
}
.w_card{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    align-items: center;
}
.w_card_c{
    width: 200px;
    height: 200px;
    background-color: #9c3aa9;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w_img img{
    padding: 20px;
    border-radius: 10%;
    width: 80%;
    height: 80%;
}
.w_card_c_cont{
    display: flex;
}
.w_card_n_1{
    background-color:#52C3EB;
    border-radius: 50%;
    border: 3px solid seashell;
    width:45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50px;
}
.w_card_n_2{
    background-color:#52C3EB;
    border-radius: 50%;
    border: 3px solid seashell;
    width:45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
    bottom: -110px;
}
.w_card_n_3{
    background-color:#52C3EB;
    border-radius: 50%;
    border: 3px solid seashell;
    width:45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -185px;
    bottom: -150px;
}
.w_card_n_4{
    background-color:#52C3EB;
    border-radius: 50%;
    border: 3px solid seashell;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50px;
}
.w_card_c:hover{
    background-color: wheat;
    transition: 2s;
}
.w_card_n_1:hover, .w_card_n_2:hover,
.w_card_n_3:hover, .w_card_n_4:hover

{
    background-color: wheat;
    transition: 1s;
}
.w_c{
    display: flex;
}

.w_info{
    margin-top: 20px;
    position: relative;
    left: -20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}